<div class="bg-container " id="login" >
    <div>
    
                <h1 class="heading">Vrize Login</h1>
               <h1 class="create-task-heading">
                    User <span class="create-task-heading-subpart">Credentials</span>
                </h1>
                <input type="text" id="UserInput" class="User-input" placeholder="user id" />
                <input type="text" id="UserInput" class="User-input" placeholder="Password" />
                <br/>
                <button class="add-login-button" >login</button>
                <br/>
                <button class="add-login-button" onclick="display('registration-page')"> Register </button> </div>

                
               
</div> 

<div id="register" >
    <h1 class="heading">Get Registered </h1>
               <h1 class="create-task-heading">
                    Registration <span class="create-task-heading-subpart">details</span>
                </h1>
                <input type="text" id="UserInput" class="User-input" placeholder="name" />
                <input type="text" id="UserInput" class="User-input" placeholder="DoB" />
                <input type="text" id="UserInput" class="User-input" placeholder="email" />
                <input type="text" id="UserInput" class="User-input" placeholder="employee id" />
                <input type="text" id="UserInput" class="User-input" placeholder="aadhar number" />

                <br/>
                <button class="add-login-button" >return to loginpage</button>
                <br/>
                <button class="add-login-button"  >Register</button>
  </div>
